# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [1]:
# atualmente, este é meu bloco fixo de importações
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import requests as rq
%matplotlib inline

dados = pd.read_csv("demo01_mod7.csv")

# esse método apresenta simultaneamente todas variáveis, Não-Vazios, a contagem de Missings e os Tipos das variáveis
dados.info()

# como a coluna "mau" é booleana, inicialmente não é possivel gerar um histrograma sem tratamento prévio, logo:
tabela_freq = pd.crosstab(index=dados["mau"], columns = "count")
tabela_freq_percentual = tabela_freq.apply(lambda x: round(x / x.sum() * 100, 2), axis=0)
tabela_freq_percentual
# portanto, a distribuição da variável resposta "mau" é 97,66% falsa e 2,34% verdadeira

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

col_0  count
mau
False  97.66
True    2.34

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [2]:
# Criando um dataframe com os nomes e tipos de dados das variáveis
df_info = pd.DataFrame({"Variável": dados.columns, "Tipo": dados.dtypes})

numero_cat = []

# Iterando sobre as variáveis do novo dataframe
for variable in dados.columns:
    # Contando o número de categorias da variável - apenas para variáveis categóricas -
    if dados[variable].dtype == "object":
        numero_cat.append(dados[variable].nunique()) # incluindo apenas 1 tipo de categoria, sem repetição, caso exista...
    else:
        numero_cat.append(None)

# Adicionando a lista como uma nova coluna do dataframe de informações
df_info["qtd_categorias"] = numero_cat
print(df_info.to_string(index=False)) # Bibliotequei no pandas como não repetir as variáveis: usando de to_string sem o índice

# Criando variáveis dummy para as variáveis categóricas listadas pelo df_info
df_dummy = pd.get_dummies(dados, columns=["sexo",
                                          "posse_de_veiculo",
                                          "posse_de_imovel",
                                          "tipo_renda",
                                          "educacao",
                                          "estado_civil",
                                          "tipo_residencia"])

df_dummy.head()

             Variável    Tipo  qtd_categorias
                 sexo  object             2.0
     posse_de_veiculo  object             2.0
      posse_de_imovel  object             2.0
           qtd_filhos   int64             NaN
           tipo_renda  object             5.0
             educacao  object             5.0
         estado_civil  object             5.0
      tipo_residencia  object             6.0
                idade float64             NaN
        tempo_emprego float64             NaN
       possui_celular   int64             NaN
possui_fone_comercial   int64             NaN
          possui_fone   int64             NaN
         possui_email   int64             NaN
qt_pessoas_residencia float64             NaN
                  mau    bool             NaN

,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau,sexo_F,...,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_Co-op apartment,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,0,58.832877,3.106849,1,0,0,0,2.0,False,0,...,1,0,0,0,0,1,0,0,0,0
1,0,52.356164,8.358904,1,0,1,1,1.0,False,1,...,0,0,1,0,0,1,0,0,0,0
2,0,52.356164,8.358904,1,0,1,1,1.0,False,1,...,0,0,1,0,0,1,0,0,0,0
3,0,46.224658,2.106849,1,1,1,1,2.0,False,0,...,1,0,0,0,0,1,0,0,0,0
4,0,29.230137,3.021918,1,0,0,0,2.0,False,1,...,1,0,0,0,0,1,0,0,0,0

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [3]:
df_dummy.mau = df_dummy.mau.astype(int) # só havia restado a variável resposta para ser tratada
df_scikitlearn = df_dummy
df_scikitlearn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 36 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   qtd_filhos                              16650 non-null  int64
 1   idade                                   16650 non-null  float64
 2   tempo_emprego                           16650 non-null  float64
 3   possui_celular                          16650 non-null  int64
 4   possui_fone_comercial                   16650 non-null  int64
 5   possui_fone                             16650 non-null  int64
 6   possui_email                            16650 non-null  int64
 7   qt_pessoas_residencia                   16650 non-null  float64
 8   mau                                     16650 non-null  int32
 9   sexo_F                                  16650 non-null  uint8
 10  sexo_M                                  16650 non-null  uint8
 11  posse_de_veiculo_N                      16650 non-null  uint8
 12  posse_de_veiculo_Y                      16650 non-null  uint8
 13  posse_de_imovel_N                       16650 non-null  uint8
 14  posse_de_imovel_Y                       16650 non-null  uint8
 15  tipo_renda_Commercial associate         16650 non-null  uint8
 16  tipo_renda_Pensioner                    16650 non-null  uint8
 17  tipo_renda_State servant                16650 non-null  uint8
 18  tipo_renda_Student                      16650 non-null  uint8
 19  tipo_renda_Working                      16650 non-null  uint8
 20  educacao_Academic degree                16650 non-null  uint8
 21  educacao_Higher education               16650 non-null  uint8
 22  educacao_Incomplete higher              16650 non-null  uint8
 23  educacao_Lower secondary                16650 non-null  uint8
 24  educacao_Secondary / secondary special  16650 non-null  uint8
 25  estado_civil_Civil marriage             16650 non-null  uint8
 26  estado_civil_Married                    16650 non-null  uint8
 27  estado_civil_Separated                  16650 non-null  uint8
 28  estado_civil_Single / not married       16650 non-null  uint8
 29  estado_civil_Widow                      16650 non-null  uint8
 30  tipo_residencia_Co-op apartment         16650 non-null  uint8
 31  tipo_residencia_House / apartment       16650 non-null  uint8
 32  tipo_residencia_Municipal apartment     16650 non-null  uint8
 33  tipo_residencia_Office apartment        16650 non-null  uint8
 34  tipo_residencia_Rented apartment        16650 non-null  uint8
 35  tipo_residencia_With parents            16650 non-null  uint8
dtypes: float64(3), int32(1), int64(5), uint8(27)
memory usage: 1.5 MB

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [4]:
# Criando tabela cruzada entre mau, possui_email e posse_de_veiculo_Y [porque posse_de_veiculo_N é apenas o complementar]
tabela_cruzada = pd.crosstab(index=df_scikitlearn["mau"],
                             columns=[df_scikitlearn["possui_email"], df_scikitlearn["posse_de_veiculo_Y"]],
                             margins=True,
                             normalize=True)

# Criando as proporções de mau = 1 entre as categorias de email e veiculo através da tabela cruzada
prop_email_sim = tabela_cruzada.loc[1, (1, 0)] + tabela_cruzada.loc[1, (1, 1)]
prop_email_nao = tabela_cruzada.loc[1, (0, 0)] + tabela_cruzada.loc[1, (0, 1)]
prop_veiculo_sim = tabela_cruzada.loc[1, (0, 1)] + tabela_cruzada.loc[1, (1, 1)]
prop_veiculo_nao = tabela_cruzada.loc[1, (0, 0)] + tabela_cruzada.loc[1, (1, 0)]

# Bloco de exibição dos resultados das comparações, convertidos para porcentagem com 2 casas após a vírgula
print(f"Proporção de mau pagador para possui email: {prop_email_sim:.2%}")
print(f"Proporção de mau pagador para não possui email: {prop_email_nao:.2%}")
print(f"Proporção de mau pagador para tem veiculo: {prop_veiculo_sim:.2%}")
print(f"Proporção de mau pagador para não tem veiculo: {prop_veiculo_nao:.2%}")

Proporção de mau pagador para possui email: 0.18%
Proporção de mau pagador para não possui email: 2.16%
Proporção de mau pagador para tem veiculo: 0.86%
Proporção de mau pagador para não tem veiculo: 1.48%

Portanto, apesar de baixas porcentagens, a proporção entre as proporções é de fato mais expressiva entre a variável EMAIL e a target MAU;

onde a posse de veículo fica próxima da metade, cerca de 0,58x, entre SIM & NÃO frente ao alvo,

mas a posse de email atinge exatamente 12x mais NÃOS do que SIMS frente a MAUS pagadores.

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [5]:
df_scikitlearn.to_csv("scikitlearn.csv", index=False)